{% extends 'base.html' %}
{% block css%} <link rel="stylesheet" type="text/css" href="/static/app/upload_files.css" />{%endblock%}

{% block content %}
  <div class="form-container">
    <h1 class="form-title">Upload and Compress Files</h1>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" id="file-input" name="posts" multiple required>
      <input type="text" name="password" placeholder="Enter Password" required>
      <button type="submit">IMPORT</button>
    </form>
    <a href="{% url 'index' %}" class="button">INDEX</a>

  </div>

{% endblock %}