.center-div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Optionally, you can set a fixed width and margin for the div */
  width: 500px;
  margin: 0 auto;
}
table {
  border-collapse: collapse;
  width: 80%; /* Adjust the width as needed */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}
a {
    text-decoration: none;
    color: #3498db;
  }
  a:hover {
    color: black;
  }
  a[href="{% url 'index' %}"] {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  a[href="{% url 'index' %}"]:hover {
    background-color: #2980b9;
  }
  a.button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  a.button:hover {
    background-color: #000000;
  }

